<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
  
    <link rel="stylesheet" href="css/styles.css?v=1.0">
  
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <nav id="nav" class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search"></input>
          <button id="search" type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default">Find Random</button>
        </div> <!-- close form-group -->
      </form> <!-- close form -->
    </div> <!-- close container-fluid -->
  </nav> <!-- close nav -->
  
  <!-- create container for displaying results -->
  <div id="resultsContainer"></div>

</html>
